*{
  margin:0;
  padding:0;
  border:0;
  font-family: 'Amatic SC', cursive;
  box-sizing: border-box;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 1.6vw;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 25vw;
  text-shadow: 10px 10px 40px white, -10px -10px 40px white;
}

#header2 {
  position: absolute;
  top: 15%;
  left: 1%;
  color: white;
  font-size: 2vw;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#welcomeCanvas {
  position: fixed;
  top:0;
  left:0;
  background-color: black;
  z-index:-1;
  cursor: none;
}

#loomChatStart {
  position: absolute;
  top: 95%;
  left: 15%;
  background-color: rgb(245, 129, 129);
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.loomChatHeadline{
  font-size: 2vw;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

#loomChatInvitation{
  position: absolute;
  top: 130%;
  left: 60%;
  background-color: rgb(99, 187, 153);
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  z-index:1;
}

#loomChatFriends{
  position: absolute;
  top: 165%;
  left: 42%;
  background-color: rgb(236, 211, 156);
  border-radius: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

[type=text], [type=email] {
  font-size: 0.8vw;
  border-bottom: 2px solid black;
  margin: 10px;  
  font-family: Verdana, sans-serif;
}

[type=submit], .welcomeLink {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.5vw;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
}

#loomChatFriends [type=email]{
  background-color: rgb(236, 211, 156);
}

#loomChatInvitation [type=text], #loomChatInvitation [type=email]{
  background-color: rgb(99, 187, 153);
}

.welcomeButton {
  width: 2vw;
  height: 2vw;
  background-color: black;
  color: white;
  font-size: 3vw;
  line-height: 1.5vw;
  font-weight: bold;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
}

.welcomeButton2 {
  width: 10vw;
  background-color: black;
  color: white;
  font-size: 1.5vw;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
}

.inviteLink{
  margin-top:20px;
}

.mailError {
  font-size: 2.4vw;
  color: white;
  font-weight: bold;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0;
}

#loomBattleshipPreview {
  position: absolute;
  top: 260%;
  left: 60%;
  background-color: rgb(99, 100, 187);
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#loomBattleship{
  position: absolute;
  top: 240%;
  left: 15%;
  background-color: rgb(187, 99, 133);
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index:1;
}

#loomBattleshipInvitation{
  position: absolute;
  top: 290%;
  left: 33%;
  background-color: rgb(99, 177, 187);
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#loomBattleshipInvitation h1{
  text-align: center;
}

#loomBattleshipInvitation [type=email],#loomBattleshipInvitation [type=text]{
  background-color: rgb(99, 177, 187);
}


.battleshipLink{
  background-color: rgb(136, 159, 221);
  font-weight: bold;
  font-size: 1.6vw;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

#loomPlayMoreCanvas{
  cursor: none;
}

#end{
  position: absolute;
  top: 360%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;  
}

#end>div:nth-child(1){
  font-size: 20vw;
  text-shadow: 10px 10px 40px white, -10px -10px 40px white;
}
