*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Amatic SC', cursive;
    box-sizing: border-box;
}

#welcomeCanvas {
    position: fixed;
    top:0;
    left:0;
    background-color: black;
    z-index:-1;
    cursor: none;
}

#menu{
    position: absolute;
    bottom:0;
    left:0;
    background-color: white;
    width: 100%;
    height: 10vh;
}

#noChatUser{
    width: 20%;
    height: 40%;
    position: absolute;
    top:50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 10px;
}

.mailErrorChat{
    background-color: red;
    font-size: 1.3vw;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#LoomChat {
    position: absolute;
    bottom: 15vh;
    left: 10vw;
    width: 20vw;
    height: 60vh;
    background-color: white;
}

#online{
    position: absolute;
    bottom: calc(5vh - 1.5vw);
    left: 20px;
    background-image: url("./pics/hamburgermenu.svg");
    background-size: 3vw;
    background-position: center;
    width: 3vw;
    height: 3vw;
    outline: none;
    cursor: pointer;
}

#online:hover, #onlineX:hover{    
    transform: scale(1.2);
}

#onlineX{
    position: absolute;
    bottom: calc(5vh - 1.5vw);
    left: 20px;
    font-size:3vw;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#showUsersOnline{
    position: absolute;
    bottom:10vh;
    left:0;       
    font-size: 1.5vw;
    font-style: italic;
    color: white;
    margin:5px;
    z-index:5;
}

.showUsersOnline{
    width:10vw;
    max-width: 15vw; 
    background-color: rgb(22, 56, 148); 
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    word-wrap: break-word;    
}

#point {
    width: 1vw;
    height: 1vw;
    background-color: green;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 5px;
    animation: 1s infinite alternate point;
}

#logout {
    background-image: url("./pics/logout.png");
    background-size: 2vw;
    background-position: center;
    width:2vw;
    height: 2vw;
    cursor: pointer;
}

#logoutExplain{
    position: absolute;
    top:-5vw;
    border: 2px solid black;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

@keyframes point{
    100%{
        transform: scale(0.5);
    }
}

#LoomChat .chatInput{
    height: 20%;
    display: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatButton {
    width: 10vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    outline: none;
}
.chatButtonred{
    width: 10vw;
    background-color: red;
    color: white;
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    outline: none;
}

.sendButton{
    background-color: black;
    color: white;
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    outline: none;
}

.chatOutput{
    height: 80%;
    overflow: auto;
    border: 5px solid black;
    font-size: 1vw;
    color: rgb(30, 80, 121);
    font-weight: bold;
}

.message{
    margin: 10px;
    border-bottom: 2px dashed black;
    word-wrap: break-word;
}

.message1{
    color: blue;
}
.message2{
    font-size: 1.5vw;
    font-style: italic;
}

#chatMyVideo {
    position: absolute;
    top:0;
    right: 0;
    max-width: 80%;
    height: 15vh;
    background-color: white;
}

#chatMyVideo video{
    width: 16vw;
}

#canvasVideo {
    display: none;
}

#usersVideo{
    width: 80vw;
    overflow-x: auto;
}
.usersVideo{
    width: 16vw;
}
