*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Amatic SC', cursive;
    box-sizing: border-box;
}

#mainLoomChat{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#welcomeCanvas {
    position: fixed;
    top:0;
    left:0;
    background-color: black;
    z-index:-1;
    cursor: none;
}

h4{
    text-align: center;
    background-color: rgb(250, 176, 246);
    font-size: 1.5vw;
    border-radius: 10px;
    padding: 4px;
    margin: 15px 0;
}

em{
    color: white;
    text-shadow: 10px 10px 10px rgb(255, 217, 0), -10px -10px 10px rgb(255, 217, 0);
}

.noentry{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

h5 {
    text-align: center;
    background-color: rgb(255, 255, 151);
    font-size: 1.2vw;
    border-radius: 10px;
    padding: 2px;
}

#menu{
    position: absolute;
    bottom:0;
    left:0;
    background-color: white;
    width: 100%;
    height: 10vh;
    z-index:4;
}

#noChatUser{
    width: 20%;
    height: 40%;
    position: absolute;
    top:50%;
    left: 90px;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 10px;
}

.mailErrorChat{
    background-color: red;
    font-size: 1.3vw;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#LoomChat {
    width: 20vw;
    height: 60vh;
    background-color: white;
}

.chatnotvisible{
    position: absolute;
    left: 10vw;
    transition: 0.5s bottom;
    bottom: -100vh;
}

.chatisvisible{
    position: absolute;
    left: 10vw;
    transition: 0.5s bottom;
    bottom: 15vh;
}

#online{
    position: absolute;
    bottom: calc(5vh - 1.5vw);
    left: 20px;
    background-image: url("./pics/friends.png");
    background-size: 3vw;
    background-position: center;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vw;
    outline: none;
    cursor: pointer;
}

#online:hover, #onlineX:hover{    
    transform: scale(1.2);
}

#onlineX{
    position: absolute;
    bottom: calc(5vh - 1.5vw);
    left: 20px;
    font-size:3vw;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

#showUsersOnline{
    position: absolute;
    bottom:10vh;
    left:0;       
    font-size: 1.5vw;
    font-style: italic;
    color: white;
    margin:5px;
    z-index:5;
}

.showUsersOnline{
    width:10vw;
    max-width: 15vw; 
    background-color: rgb(22, 56, 148); 
    border: 5px solid black;
    border-radius: 10px;
    padding: 5px;
    word-wrap: break-word;    
}

#point {
    width: 1vw;
    height: 1vw;
    background-color: green;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 5px;
    animation: 1s infinite alternate point;
}

#logout {
    background-image: url("./pics/logout.png");
    background-size: 2vw;
    background-position: center;
    width:2vw;
    height: 2vw;
    cursor: pointer;
}

#logoutExplain{
    position: absolute;
    top:-5vw;
    border: 2px solid black;
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

@keyframes point{
    100%{
        transform: scale(0.5);
    }
}

#LoomChat .chatInput{
    height: 20%;
    display: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatButton {
    width: 10vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    outline: none;
}
.chatButtonred{
    width: 10vw;
    background-color: red;
    color: white;
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    outline: none;
}

.sendButton{
    background-color: black;
    color: white;
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    outline: none;
}

.chatOutput{
    height: 80%;
    overflow: auto;
    border: 5px solid black;
    font-size: 1vw;
    color: rgb(30, 80, 121);
    font-weight: bold;
}

.message{
    margin: 10px;
    border-bottom: 2px dashed black;
    word-wrap: break-word;
}

.message1{
    color: blue;
}
.message2{
    font-size: 1.5vw;
    font-style: italic;
}

#chatMyVideo {
    position: absolute;
    top:0;
    right: 0;
}

#mute1{
    width: 2.9vw;
    height: 2.9vw;
    background-image: url("./pics/mutewhite.png");
    background-size: 2.7vw;
    background-position: center;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

#mute2{
    width: 2.9vw;
    height: 2.9vw;
    background-image: url("./pics/mute1.png");
    background-size: 2.7vw;
    background-position: center;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

#video1{
    width: 2.9vw;
    height: 2.9vw;
    background-image: url("./pics/cameraOff.png");
    background-size: 2.5vw;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
}

#video2{
    width: 2.9vw;
    height: 2.9vw;
    background-image: url("./pics/camera.png");
    background-size: 2.5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
}

.hideVideos{
    visibility: hidden;
}

.userVideos{
    transition: 1s width;
    width: 16vw;
}

.enlarge{
    transition: 1s width;
    width: 50vw;
}


#endSession {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(250, 126, 126);
    font-size: 2vw;
    font-weight: bold;
    border: 3px solid black;
    padding: 20px;
    z-index:10;
    animation: endSessionDisappear 3s  10s 1 forwards;
}

@keyframes endSessionDisappear {
    100%{
        left: -50%;
    }
}